.education-container {
  display: flex;
  flex-direction: column;
  width: 85%;
  gap: 1vw;
  padding: 1.5vh 1vw;
  border-radius: 0.50vw;
  background-color: white;
  border:solid #3eb489;
  box-shadow: 0 0.5vw 0.5vw rgb(0 0 0 / 0.2);
  margin: 3vh 0;
  transition: 0.1s;
}

.education-card {
  display: flex;
  flex-direction: column;
  border-radius: 0.50vw;
  transition: 0.1s;
  white-space: pre-line;
}

.education-container:hover {
  background: #9aebcd;
  box-shadow: 0 0.5vw 0.5vw rgb(0 0 0 / 0.4);
  transition: 0.2s;
  scale: 103%;
}