.project-card {
  display: flex;
  flex-direction: column;
  background-color: none;
  border:solid #3eb489;
  height: fit-content;
  padding: 2vh 1.5vw;
  border-radius: 0.50vw;
  transition: 0.2s;
  white-space: pre-line;
  align-items: center;
  background-color: white;
  box-shadow: 0 0.5vw 0.5vw rgb(0 0 0 / 0.2);
}

.project-card h1, p {
  padding-bottom: 2vh;
}

.project-card-main-image{
  width: 70%;
  scale: 100%;
  border:solid #3eb489;
  margin-bottom: 2vh;
  box-shadow: 0 0.5vw 0.5vw rgb(0 0 0 / 0.2);
  background-color: #d3bee2;
  transition: 0.2s;
}

.project-card-main-image:hover{
  transition: 0.2s;
  scale: 110%;
}

.project-tag-container {
  display: grid;
  max-width: 100%;
  align-items: stretch;
  grid-template-columns: repeat(4, max-content);
  gap: 1vw;
  margin: 2vh 0;
}

.project-tag {
  border:solid #3eb489;
  padding: 0.5vh 0.5vw;
  border-radius: 1vw;
  transition: 0.2s;
  box-shadow: 0 0.3vw 0.5vw rgb(0 0 0 / 0.2);
  cursor: default;
  height: fit-content;
}

.project-tag p {
  width: auto;
  text-align: center;
  padding: 0;
}

.project-tag:hover {
  transition: 0.2s;
  border:solid #6fa1d0;
  scale: 110%;
}

.project-open-button {
  border:solid #3eb489;
  width: fit-content;
  border-radius: 1vw;
  padding: 0.5vh 0.5vw;
  background-color: white;
  box-shadow: 0 0.3vw 0.5vw rgb(0 0 0 / 0.2);
  font-size: 2vh;
  margin: 3vh 0;
  font-size: 3vh;
  transition: 0.2s;
}

.project-open-button:hover {
  transition: 0.2s;
  border:solid #6fa1d0;
  scale: 110%;
  cursor: pointer;
}

.project-card-content {
  max-height: 0;
  opacity: 0;
  overflow: hidden;
  transition: 0.4s;
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
}
.project-card-content h2{
  padding: 2vh 0;
}

.project-card-content.open {
  display: flex;
  flex-direction: column;
  max-height: 500vh;
  opacity: 1;
  align-items: center;
  transition: 0.4s;
}

.project-card-video {
  aspect-ratio: 16 / 9;
  border: solid #3eb489;
  width: 90%;
}

.project-link {
  border:solid #3eb489;
  width: fit-content;
  border-radius: 1vw;
  padding: 0.5vh 0.5vw;
  background-color: white;
  box-shadow: 0 0.3vw 0.5vw rgb(0 0 0 / 0.2);
  margin-top: 2vh;
  transition: 0.2s;
  margin: 2vh 0;
}

.project-link:hover {
  transition: 0.2s;
  border:solid #6fa1d0;
  scale: 110%;
  cursor: pointer;
}

.project-open-button:hover {
  transition: 0.2s;
  border:solid #6fa1d0;
  scale: 110%;
  cursor: pointer;
}