footer {
  width: 100%;
  height: 20vh;
  background-color: #c3c3c3;
  position: relative;
  bottom: 0;
  border-top: 0.5vh solid rgba(116, 116, 116, 0.529);
  display: flex;
  flex-direction: row;
  gap: 5vw;
  align-items: center;
  justify-content: space-evenly;
  margin-top: 3vh;
}

.footer-header {
  padding: 0;
  margin: 0;
  font-size: 3vh;
  text-decoration: underline;
  font-weight: 500;
}

.footer-link-header {
  padding: 0;
  margin: 0;
  font-size: 2.5vh;
  font-weight: 500;
}

.footer-link-stack {
  display: flex;
  flex-direction: column;
  gap: 1vh;
}

.footer-link {
  font-size: 2.5vh;
  display: flex;
  flex-direction: row;
  gap: 0.5vw;
}

.footer-link-email:hover {
  color: #ff5353;
  transition: 0.3s;
}

.footer-link-github:hover {
  color: #3EB489;
  transition: 0.3s;
}

.footer-link-linkedin:hover {
  color: #0077B5;
  transition: 0.3s;
}

.footer-icon {
  padding-right: 0.5vw;
}