.home-title {
  margin: 5vh 0vw;
}

.homepage-container {
  display: flex;
  flex-direction: column;
  padding: 0;
  align-items: center;
  min-height: 80vh;
}

.home-container {
  display: grid;
  max-width: 100%;
  grid-template-columns: repeat(auto-fill,35vw);
  gap: 3vw;
}

.contact-link-container {
  display: flex;
  flex-direction: row;
  width: 100%;
  justify-content: center;
  gap: 5vw;
}